description "uWSGI"
start on runlevel [2345]
stop on runlevel [06]
respawn

env UWSGI={{ application_dir }}/venv/bin/uwsgi
env LOGTO=/var/log/uwsgi/emperor.log

exec $UWSGI --master --emperor /etc/uwsgi/vassals --die-on-term --uid {{  app_user }} --gid {{ app_group }} --logto $LOGTO
